<div class="alert-container">
  <div class="alert-header">
    <h3>Elige tu avatar</h3>
  </div>

  <div class="alert-body">
    <div class="avatars-grid">

      <div class="av-item" [class.selected]="seleccionada === 'assets/avatars/avatar0.png'"
        (click)="elegir('assets/avatars/avatar0.png')">
        <div class="av-sin-foto">
          <img src="assets/avatars/avatar0.png" alt="Sin foto" class="avatar-img">
        </div>
      </div>

      <div *ngFor="let av of avatares" class="av-item" [class.selected]="seleccionada === av" (click)="elegir(av)">
        <img [src]="av" class="avatar-img">
      </div>

    </div>
  </div>

  <div class="alert-footer">
    <ion-button fill="clear" color="medium" (click)="cerrar()">Cancelar</ion-button>
  </div>
</div>