<ng-container *ngIf="movie; else loadingTemplate">
  <ion-content class="ion-padding">
    <div class="movie-container">
      <div class="movie-image">
        <img [src]="getPosterUrl(movie.poster_path)" alt="{{ movie.title }}">
      </div>
      <div class="movie-info">
        <h1>{{ movie.title }}</h1>
        <h3>{{ movie.release_date | date:'longDate':'':'es' }} | ⭐ {{ movie.vote_average?.toFixed(1) }}</h3>

        <section class="movie-overview">
          <h4>Resumen</h4>
          <p>{{ movie.overview }}</p>
        </section>

        <section class="movie-details">
          <p><strong>Idioma original:</strong> {{ movie.original_language?.toUpperCase() }}</p>
          <p><strong>Duración:</strong> {{ movie.runtime }} minutos</p>
          <p><strong>Géneros:</strong> {{ genresText }}</p>
        </section>

        <div class="action-buttons">
          <ion-button (click)="addToList(movie)">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            Añadir a mi lista
          </ion-button>

          <ion-button (click)="openCommentModal(movie)">
            <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
            Escribir comentario
          </ion-button>
        </div>

        <!-- Comentarios existente, solo de pruebaa-->
        <section class="comments-section" *ngIf="comments!.length > 0">
          <h4>Comentarios de otros usuarios</h4>
          <div *ngFor="let c of comments" class="comment">
            <p><strong>{{ c.user }}:</strong> {{ c.text }}</p>
          </div>
        </section>

      </div>
    </div>
  </ion-content>
</ng-container>

<ng-template #loadingTemplate>
  <ion-content class="ion-padding">
    <div class="loading-text">Cargando detalles...</div>
  </ion-content>
</ng-template>
