
ion-content {
  --background: none; /* evita conflictos con ionic */
  background: radial-gradient(
      circle at top left,
      rgba(253, 177, 37, 0.9),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(150, 53, 219, 0.65),
      transparent 45%
    ),
    linear-gradient(135deg, #ead029, #6a0dad);
}


   //grid y alineación
ion-row {
  justify-content: center;
}

ion-col {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


   //tarjetas de ls pelis
ion-card {
  width: 200%;
  max-width: 340px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  --background: #692a95;
  border: 3px solid #6a0dad;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45);
  transition: transform 0.25s ease, box-shadow 0.25s ease,
    border-color 0.25s ease;
}

ion-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.6);
  border-color: #ffa500;
}


 //imagen de la peli
ion-card ion-img {
  display: block;
  margin: 6px auto 10px auto;
  border-radius: 10px;
  border: 4px solid rgba(255, 255, 255, 0.25);
}


   //texto y contenido
ion-card-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

ion-card-content {
  color: #ffffff;
  font-size: 0.9rem;
}

/* footer con nota y año */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


  // chip del año 
ion-chip {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #ffa500;
}


//btn cargar mas
.load-more-button {
  display: flex;
  justify-content: center;
  margin: 24px 0 16px;
}

.load-more-button ion-button {
  --background: #6a0dad;
  --color: #ffffff;
  font-weight: bold;
}


  // texto de carga
.loading-text {
  text-align: center;
  margin-top: 50px;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: bold;
}


  //lo hacemos responsive
@media (max-width: 480px) {
  ion-col {
    --ion-grid-column-width: 100% !important;
  }

  ion-card {
    max-width: 90%;
  }

  ion-card ion-img {
    height: 200px;
    object-fit: cover;
  }
}
